body {
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 320px;
  min-height: 100vh;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100px;
  background-color: blue;
  color: white;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.navigation {
  padding: 20px;
  background-color: orange;
}
.main {
  display: flex;
  flex: 1 1 auto;

  padding: 20px;
  background-color: azure;
}
.related-links {
  padding: 20px;
  background-color: purple;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100px;
  background-color: green;
  color: white;
}

@media (min-width: 767px) {
  .main-wrapper {
    flex-direction: row;
  }
  .navigation {
    flex: 1 1 25%;
  }
  .main {
    flex: 1 1 50%;
  }
  .related-links {
    flex: 1 1 25%;
  }
}
