<section class="cards">
    <div class="container">
      <h2>What we do to help our customers in digital era.</h2>

      <div class="cards__card">
        <div class="cards__card-image">
          <img src="./img/cards/send.svg" alt="send" />
        </div>
        <div class="cards__card-content">
          <h3>Send</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <a href="#"> Learn more <span></span></a>
      </div>

      <div class="cards__card">
        <div class="cards__card-image">
          <img src="./img/cards/recieve.svg" alt="recieve" />
        </div>
        <div class="cards__card-content">
          <h3>Receive</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <a href="#"> Learn more <span></span></a>
      </div>

      <div class="cards__card">
        <div class="cards__card-image">
          <img src="./img/cards/buy.svg" alt="buy" />
        </div>
        <div class="cards__card-content">
          <h3>Buy</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <a href="#"> Learn more <span></span></a>
      </div>
    </div>
  </section>