<section class="clients">
    <h2>What our client say</h2>
    <div class="clients-carousel">
      <input type="radio" name="slides" id="switch-1" checked />
      <input type="radio" name="slides" id="switch-2" />
      <input type="radio" name="slides" id="switch-3" />
      <input type="radio" name="slides" id="switch-4" />
      <input type="radio" name="slides" id="switch-5" />

      <div class="clients-carousel__track">
        <div class="clients-carousel__slide">
          <div class="clients-carousel__column-left">
            <picture>
              <img
                src="./img/clients/client-photo-1.png"
                alt="client photo"
              />
            </picture>
          </div>
          <div class="clients-carousel__column-right">
            <blockquote class="clients-carousel__content">
              <i></i>
              <p>
                Amet in elementum nulla scelerisque dui, egestas at. Elit
                consectetur turpis elementum amet vitae et etiam nec.
                Varius volutpat hac adipiscing tincidunt pretium1.
              </p>
              <h3>Angel Paulina</h3>
              <div class="clients-carousel__arrows-wrapper">
                <label for="switch-5">
                  <svg>
                    <use
                      href="./img/symbol-defs.svg#icon-btn-arrow"
                    ></use>
                  </svg>
                </label>
                <label for="switch-2">
                  <svg>
                    <use
                      href="./img/symbol-defs.svg#icon-btn-arrow"
                    ></use>
                  </svg>
                </label>
              </div>
            </blockquote>
          </div>
        </div>
        <div class="clients-carousel__slide">
          <div class="clients-carousel__column-left">
            <picture>
              <img
                src="./img/clients/client-photo-1.png"
                alt="client photo"
              />
            </picture>
          </div>
          <div class="clients-carousel__column-right">
            <div class="clients-carousel__content">
              <i> </i>
              <p>
                Amet in elementum nulla scelerisque dui, egestas at. Elit
                consectetur turpis elementum amet vitae et etiam nec.
                Varius volutpat hac adipiscing tincidunt pretium2.
              </p>
              <h3>Angel Paulina</h3>
              <div class="clients-carousel__arrows-wrapper">
                <label for="switch-1">
                  <svg>
                    <use
                      href="./img/symbol-defs.svg#icon-btn-arrow"
                    ></use>
                  </svg>
                </label>
                <label for="switch-3">
                  <svg>
                    <use
                      href="./img/symbol-defs.svg#icon-btn-arrow"
                    ></use>
                  </svg>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="clients-carousel__slide">
          <div class="clients-carousel__column-left">
            <picture>
              <img
                src="./img/clients/client-photo-1.png"
                alt="client photo"
              />
            </picture>
          </div>
          <div class="clients-carousel__column-right">
            <div class="clients-carousel__content">
              <i> </i>
              <p>
                Amet in elementum nulla scelerisque dui, egestas at. Elit
                consectetur turpis elementum amet vitae et etiam nec.
                Varius volutpat hac adipiscing tincidunt pretium3.
              </p>
              <h3>Angel Paulina</h3>
              <div class="clients-carousel__arrows-wrapper">
                <label for="switch-2">
                  <svg>
                    <use
                      href="./img/symbol-defs.svg#icon-btn-arrow"
                    ></use>
                  </svg>
                </label>
                <label for="switch-4">
                  <svg>
                    <use
                      href="./img/symbol-defs.svg#icon-btn-arrow"
                    ></use>
                  </svg>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="clients-carousel__slide">
          <div class="clients-carousel__column-left">
            <picture>
              <img
                src="./img/clients/client-photo-1.png"
                alt="client photo"
              />
            </picture>
          </div>
          <div class="clients-carousel__column-right">
            <div class="clients-carousel__content">
              <i> </i>
              <p>
                Amet in elementum nulla scelerisque dui, egestas at. Elit
                consectetur turpis elementum amet vitae et etiam nec.
                Varius volutpat hac adipiscing tincidunt pretium4.
              </p>
              <h3>Angel Paulina</h3>
              <div class="clients-carousel__arrows-wrapper">
                <label for="switch-3">
                  <svg>
                    <use
                      href="./img/symbol-defs.svg#icon-btn-arrow"
                    ></use>
                  </svg>
                </label>
                <label for="switch-5">
                  <svg>
                    <use
                      href="./img/symbol-defs.svg#icon-btn-arrow"
                    ></use>
                  </svg>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="clients-carousel__slide">
          <div class="clients-carousel__column-left">
            <picture>
              <img
                src="./img/clients/client-photo-1.png"
                alt="client photo"
              />
            </picture>
          </div>
          <div class="clients-carousel__column-right">
            <div class="clients-carousel__content">
              <i> </i>
              <p>
                Amet in elementum nulla scelerisque dui, egestas at. Elit
                consectetur turpis elementum amet vitae et etiam nec.
                Varius volutpat hac adipiscing tincidunt pretium5.
              </p>
              <h3>Angel Paulina</h3>
              <div class="clients-carousel__arrows-wrapper">
                <label for="switch-4">
                  <svg>
                    <use
                      href="./img/symbol-defs.svg#icon-btn-arrow"
                    ></use>
                  </svg>
                </label>
                <label for="switch-1">
                  <svg>
                    <use
                      href="./img/symbol-defs.svg#icon-btn-arrow"
                    ></use>
                  </svg>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>