<section class="download">
    <div class="container">
      <div class="download__images">
        <img
          src="./img/download/img-download.png"
          alt="images download"
        />
      </div>
      <div class="download__content">
        <h2>Download app to enjoy more!</h2>
        <p>
          Amet in elementum nulla scelerisque dui, egestas at. Elit
          consectetur turpis elementum amet vitae et etiam nec. Varius
          volutpat hac adipiscing tincidunt pretium.
        </p>

        <div class="download__buttons">
          <a href="#">
            <img
              src="./img/download/btn-google-dark.svg"
              alt="google store"
            />
          </a>
          <a href="#">
            <img
              src="./img/download/btn-apple-dark.svg"
              alt="apple store"
            />
          </a>
        </div>
      </div>
    </div>
  </section>