<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <strong class="footer-top__logo">
        <a href="#">
          <img src="./img/footer/logo-footer.svg" alt="logo footer" />
        </a>
      </strong>

      <ul class="footer-top__lists-container">
        <li>
          <h2>Quick Links</h2>
          <ul>
            <li>
              <a href="#">Sign Up</a>
            </li>
            <li>
              <a href="#">About Us</a>
            </li>
          </ul>
        </li>

        <li>
          <h2>Others</h2>
          <ul>
            <li>
              <a href="#">User FAQs</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
            <li>
              <a href="#">Legal</a>
            </li>
            <li>
              <a href="#">Privacy Policy</a>
            </li>
            <li>
              <a href="#">Terms and Conditions</a>
            </li>
          </ul>
        </li>

        <li>
          <h2>Products</h2>
          <ul>
            <li>
              <a href="#">Send</a>
            </li>
            <li>
              <a href="#">Receive</a>
            </li>
            <li>
              <a href="#">Buy</a>
            </li>
          </ul>
        </li>
      </ul>

      <form action="#">
        <label for="email"
          >Subscribe to our newsletter and be the first to know about our
          updates</label
        >
        <div class="footer-top__form-actions">
          <input type="email" id="email" placeholder="Email Address" />
          <button type="submit">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p>Copyright &copy; 2020. All rights reserved.</p>
      <ul>
        <li>
          <a href="#">
            <svg>
              <use href="./img/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg>
              <use href="./img/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg>
              <use href="./img/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg>
              <use href="./img/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
