<section class="main">
    <!--=include header.html -->
    <div class="container">
      <div class="main__content">
        <h1>New E-commerce App best for You</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet
          sed vulputate vitae velit dictum cursus amet. Turpis donec ut
          velit quis. Cursus commodo, eget urna, sapien amet.
        </p>
        <div class="main__buttons">
          <a href="#">
            <img src="./img/main/btn-google.svg" alt="google store" />
          </a>
          <a href="#">
            <img src="./img/main/btn-apple.svg" alt="apple store" />
          </a>
        </div>
      </div>
      <div class="main__images">
        <img src="./img/main/img-main.png" alt="image main" />
      </div>
    </div>
  </section>