body {
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-rows: minmax(100px, auto) 1fr minmax(100px, auto);
  grid-template-columns: 1fr;

  min-height: 100vh;
  min-width: 320px;
}
.header {
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: blue;
  color: white;
}

.main-wrapper {
  display: grid;
  grid-template-rows: minmax(50px, auto) 1fr minmax(50px, auto);
  grid-template-columns: 1fr;
}
.navigation {
  padding: 20px;
  background-color: orange;
}
.main {
  padding: 20px;
  background-color: azure;
}
.related-links {
  padding: 20px;
  background-color: purple;
}

.footer {
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: green;
  color: white;
}
@media (min-width: 767px) {
  .main-wrapper {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
  }
}
