<section class="steps">
    <div class="container">
      <h2>How it works</h2>
      <ul class="steps__items">
        <li>
          <svg>
            <use href="./img/symbol-defs.svg#icon-how-create"></use>
          </svg>
          <h3>Create an account</h3>
          <p>Lorem ipsum dolor sit amet, consecteteu.</p>
        </li>
        <li>
          <svg>
            <use href="./img/symbol-defs.svg#icon-how-get"></use>
          </svg>
          <h3>Get authorization</h3>
          <p>Lorem ipsum dolor sit amet, consecteteu.</p>
        </li>
        <li>
          <svg>
            <use href="./img/symbol-defs.svg#icon-how-enjoy"></use>
          </svg>
          <h3>Enjoy the app</h3>
          <p>Lorem ipsum dolor sit amet, consecteteu.</p>
        </li>
      </ul>
    </div>
  </section>