.footer-btn, .textarea, .input-number, .input-file, .input-range-counter, .select, .label, .input-field, .input-title, .header {
  font-family: "Roboto", Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: linear-gradient(to right, #547f91 0%, #3d6375 50%, #3d6375 50%, #547f91 100%);
}

.container {
  max-width: 768px;
  padding: 30px;
  margin: 0 auto;
}

.create {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #cdcdcd;
}

.header {
  text-align: center;
  background-color: #eff0f1;
  padding: 20px;
  color: #6c6c6c;
  font-size: 2.8rem;
  line-height: 3rem;
  border: 1px solid #cdcdcd;
}

.body {
  background-color: #ffffff;
  padding: 25px 60px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 49%;
  margin-bottom: 15px;
}

.input-title {
  font-weight: bold;
  color: #54bc95;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.input-field {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  color: #6c6c6c;
  font-size: 1.6rem;
  line-height: 2.2rem;
  border: 1px solid #cdcdcd;
}
.input-field::-moz-placeholder {
  color: #dadbdb;
}
.input-field:-ms-input-placeholder {
  color: #dadbdb;
}
.input-field::placeholder {
  color: #dadbdb;
}

.group-items {
  justify-content: flex-start;
}

.item {
  margin: 0 5px;
  cursor: pointer;
}

.label {
  cursor: pointer;
  color: #6c6c6c;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.select {
  padding: 0 10px;
  height: 3.6rem;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  color: #6c6c6c;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.input-range {
  cursor: pointer;
  width: 100%;
  accent-color: #54bc95;
}

.input-range-counter {
  padding: 10px 5px;
  background-color: #54bc95;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.input-file {
  width: 100%;
  cursor: pointer;
  border: none;
  padding: 2px 10px;
  color: #6c6c6c;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.input-number {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
}

.textarea {
  padding: 5px 10px;
  resize: vertical;
  border-radius: 5px;
  color: #6c6c6c;
  font-size: 1.6rem;
  line-height: 2.2rem;
  border: 1px solid #cdcdcd;
}
.textarea::-moz-placeholder {
  color: #dadbdb;
}
.textarea:-ms-input-placeholder {
  color: #dadbdb;
}
.textarea::placeholder {
  color: #dadbdb;
}

.footer {
  padding: 15px 60px 0;
  background-color: #eff0f1;
  border: 1px solid #cdcdcd;
}

.flex-end {
  align-items: flex-end;
}

.footer-btn {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #54bc95;
  border: none;
  border-radius: 5px;
  color: #a3eedc;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

@media (max-width: 767px) {
  .container {
    min-width: 320px;
  }
  .body {
    padding: 15px 20px;
  }
  .footer {
    padding: 15px 20px 0;
  }
  .row {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */