.footer-top button:hover, .footer-top button:focus, .footer-top input:hover, .footer-top input:focus, .download__buttons a:hover, .main__buttons a:hover, .main {
  box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.26);
}

.footer-bottom a, .footer-top button, .footer-top input, .footer-top a, .download__buttons a, .clients label, .steps svg, .cards a, .main__buttons a, .header__menu a {
  transition: all 0.3s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Objective";
  src: url("../../fonts/Objective/Objective-Regular.woff2"), url("../../fonts/Objective/Objective-Regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Objective";
  src: url("../../fonts/Objective/Objective-Medium.woff2"), url("../../fonts/Objective/Objective-Medium.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Objective";
  src: url("../../fonts/Objective/Objective-Bold.woff2"), url("../../fonts/Objective/Objective-Bold.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Objective", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

[class*=__container] {
  max-width: 1220px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  flex: 1 1 auto;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .header {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
.header__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 20px;
}
@media (min-width: 425px) {
  .header__container {
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .header__container {
    max-width: 980px;
  }
}
.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 42px;
}
.header__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 15px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.header__menu a {
  font-size: 18px;
  line-height: 1.1875;
  color: rgb(15, 0, 26);
}
.header__menu a:hover, .header__menu a:focus {
  color: rgb(74, 153, 211);
}

.main {
  font-size: 16px;
  line-height: 1.8;
  color: rgb(15, 0, 26);
  background: linear-gradient(180deg, rgba(74, 153, 211, 0.2) -17.33%, rgba(74, 153, 211, 0) 75.91%), rgb(255, 255, 255);
}
.main__container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-top: 68px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .main__container {
    flex-direction: row;
    -moz-column-gap: 32px;
         column-gap: 32px;
    padding-top: 33px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .main__container {
    max-width: 1298px;
    justify-content: flex-end;
    padding-top: 27px;
    padding-bottom: 75px;
  }
}
.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .main__content {
    flex: 0 1 auto;
    align-self: center;
    align-items: flex-start;
  }
}
.main h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.4;
  letter-spacing: 0.05em;
}
.main h1:not(:last-child) {
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .main h1 {
    max-width: 636px;
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  .main h1 {
    font-size: 50px;
  }
}
@media (min-width: 768px) {
  .main p {
    max-width: 636px;
    font-size: 20px;
  }
}
.main p:not(:last-child) {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .main p:not(:last-child) {
    margin-bottom: 60px;
  }
}
.main__buttons {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media (min-width: 768px) {
  .main__buttons {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.main__buttons a {
  max-width: 180px;
  max-height: 60px;
}
.main__buttons a:hover {
  filter: brightness(0.9);
}
.main__buttons a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__images {
  max-width: 440px;
  align-self: center;
}
@media (min-width: 768px) {
  .main__images {
    flex: 0 0 35%;
  }
}
.main__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.cards {
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 16px;
  line-height: 1.625;
  color: rgb(15, 0, 26);
}
@media (min-width: 1200px) {
  .cards {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
.cards::before, .cards::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 125px;
  height: 100px;
}
@media (min-width: 768px) {
  .cards::before, .cards::after {
    width: 255px;
    height: 200px;
  }
}
.cards::before {
  top: 0;
  right: -35px;
  background: url("/img/decor-rect-blue-cards.svg") no-repeat center/contain;
}
.cards::after {
  bottom: 0;
  left: -35px;
  background: url("/img/decor-rect-brown-cards.svg") no-repeat center/contain;
}
.cards__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
@media (min-width: 768px) {
  .cards__container {
    max-width: 980px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .cards__container {
    -moz-column-gap: 105px;
         column-gap: 105px;
    row-gap: 113px;
  }
}
.cards h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2777777778;
  letter-spacing: 0.05em;
  max-width: 397px;
}
@media (min-width: 768px) {
  .cards h2 {
    width: calc(50% - 35px);
    transform: translate(0, -190px);
  }
}
@media (min-width: 1200px) {
  .cards h2 {
    width: 100%;
    font-size: 36px;
    transform: translate(-70px, -190px);
  }
}
.cards h2:not(:last-child) {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .cards h2:not(:last-child) {
    margin-bottom: 40px;
  }
}
.cards__card {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: relative;
  padding: 15px;
  max-width: 410px;
  min-height: 480px;
  background: rgb(255, 255, 255);
  box-shadow: 5px 20px 50px rgba(74, 153, 211, 0.2);
  border-radius: 10px;
}
@media (min-width: 768px) {
  .cards__card {
    width: calc(50% - 35px);
    min-height: 555px;
  }
  .cards__card:not(:first-child):nth-child(odd) {
    margin-top: -75%;
  }
}
@media (min-width: 1200px) {
  .cards__card {
    min-height: 555px;
    padding: 48px;
  }
}
.cards__card::before {
  content: "";
  position: absolute;
  width: 153px;
  height: 153px;
  display: block;
  z-index: -1;
  background: url("/img/decor-square-of-dots.svg") no-repeat center/contain;
}
.cards__card:nth-of-type(1)::before {
  top: -14%;
  right: -21%;
}
.cards__card:nth-of-type(2)::before {
  top: 50%;
  left: -25%;
  transform: translateY(-50%);
}
.cards__card:nth-of-type(3)::before {
  bottom: -14%;
  right: -21%;
}
.cards__card-image {
  width: 180px;
  height: 130px;
  align-self: center;
}
.cards__card-image:not(:last-child) {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .cards__card-image:not(:last-child) {
    margin-bottom: 56px;
  }
}
.cards__card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.cards__card-content {
  flex-grow: 1;
}
.cards h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 15px;
}
.cards p {
  opacity: 0.6;
}
.cards a {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 19px;
       column-gap: 19px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.1428571429;
  color: rgb(74, 153, 211);
  letter-spacing: 0.05em;
}
.cards a:hover, .cards a:focus {
  text-decoration: underline;
}
.cards a span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/img/cards/arrow.svg") no-repeat center/contain;
}

.steps {
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgba(74, 153, 211, 0.1);
  font-size: 16px;
  line-height: 1.625;
  color: rgb(15, 0, 26);
  text-align: center;
}
@media (min-width: 1200px) {
  .steps {
    padding-top: 95px;
    padding-bottom: 95px;
  }
}
.steps__container {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
@media (min-width: 768px) {
  .steps__container {
    row-gap: 30px;
  }
}
@media (min-width: 1200px) {
  .steps__container {
    max-width: 980px;
    row-gap: 88px;
  }
}
.steps h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: clac(27/26);
  color: rgb(74, 153, 211);
}
.steps__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (min-width: 768px) {
  .steps__items {
    row-gap: 50px;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media (min-width: 1200px) {
  .steps__items {
    -moz-column-gap: 106px;
         column-gap: 106px;
  }
}
.steps li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .steps li {
    flex: 0 0 calc(50% - 15px);
  }
}
@media (min-width: 1200px) {
  .steps li {
    flex: 0 0 calc(33.3333333333% - 212px);
  }
}
.steps svg {
  width: 60px;
  height: 60px;
  display: inline-block;
  stroke-width: 0;
  fill: rgb(211, 132, 74);
}
.steps svg:hover {
  fill: rgb(74, 153, 211);
}
.steps svg:not(:last-child) {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .steps svg:not(:last-child) {
    margin-bottom: 30px;
  }
}
.steps h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.0555555556;
}
.steps h3:not(:last-child) {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .steps p {
    min-width: 246px;
  }
}

.clients {
  padding-top: 90px;
  padding-bottom: 50px;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(15, 0, 26);
}
.clients [name=slides] {
  display: none;
}
@media (min-width: 1200px) {
  .clients {
    padding-top: 150px;
    padding-bottom: 20px;
  }
}
.clients h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.0384615385;
  text-align: center;
}
.clients h2:not(:last-child) {
  margin-bottom: 10px;
}
.clients-carousel {
  overflow: hidden;
}
.clients-carousel__track {
  width: 500%;
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease;
}
.clients-carousel__slide {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  row-gap: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .clients-carousel__slide {
    width: 20%;
    flex-direction: row;
    -moz-column-gap: 6%;
         column-gap: 6%;
    padding-top: 120px;
    padding-bottom: 50px;
  }
}
.clients-carousel__column-left {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 160px;
  background-color: rgba(74, 153, 211, 0.1);
}
@media (min-width: 768px) {
  .clients-carousel__column-left {
    flex: 0 0 calc(50% - 43px);
    min-height: 400px;
  }
}
.clients-carousel__column-right {
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
}
@media (min-width: 768px) {
  .clients-carousel__column-right {
    flex: 0 0 calc(50% - 43px);
    align-self: flex-end;
  }
}
.clients-carousel__column-right::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 153px;
  height: 153px;
  display: block;
  z-index: -1;
  background: url("/img/decor-square-of-dots.svg") no-repeat center/contain;
}
.clients-carousel__image {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  max-width: 180px;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .clients-carousel__image {
    right: 14%;
    transform: translateX(0);
    max-width: 430px;
  }
}
.clients-carousel__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.clients-carousel__content {
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
  max-width: 448px;
  padding: 0 15px;
}
@media (min-width: 1200px) {
  .clients-carousel__content {
    align-self: stretch;
  }
}
.clients i {
  display: block;
  width: 30px;
  height: 30px;
  background: url("/img/clients/quote-icon.svg") no-repeat center/contain;
}
@media (min-width: 768px) {
  .clients i {
    width: 50px;
    height: 50px;
  }
}
.clients i:not(:last-child) {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .clients i:not(:last-child) {
    margin-bottom: 40px;
  }
}
.clients p:not(:last-child) {
  margin-bottom: 10px;
}
.clients h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.0555555556;
}
.clients-carousel__arrows-wrapper {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  position: relative;
  bottom: -10px;
}
@media (min-width: 768px) {
  .clients-carousel__arrows-wrapper {
    bottom: -40px;
  }
}
.clients label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.clients label:hover {
  background-color: rgb(74, 153, 211);
}
.clients label:hover .clients-carousel__arrow-btn-icon {
  border-color: rgb(255, 255, 255);
}
.clients-carousel__arrow-btn-icon {
  display: block;
  width: 28px;
  height: 28px;
  border-top: 7px solid rgb(74, 153, 211);
  border-right: 7px solid rgb(74, 153, 211);
  background: transparent;
}
.clients-carousel__arrow-btn-icon--left {
  transform: rotateZ(225deg);
}
.clients-carousel__arrow-btn-icon--right {
  transform: rotateZ(45deg);
}
.clients #switch-1:checked ~ .clients-carousel__track {
  transform: translateX(0%);
}
.clients #switch-2:checked ~ .clients-carousel__track {
  transform: translateX(-20%);
}
.clients #switch-3:checked ~ .clients-carousel__track {
  transform: translateX(-40%);
}
.clients #switch-4:checked ~ .clients-carousel__track {
  transform: translateX(-60%);
}
.clients #switch-5:checked ~ .clients-carousel__track {
  transform: translateX(-80%);
}

.download {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(15, 0, 26);
  text-align: center;
}
@media (min-width: 1200px) {
  .download {
    padding-top: 98px;
    padding-bottom: 123px;
  }
}
.download::before, .download::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 125px;
  height: 100px;
}
@media (min-width: 768px) {
  .download::before, .download::after {
    width: 255px;
    height: 200px;
  }
}
.download::before {
  bottom: -25px;
  left: -32px;
  background: url("../../img/decor-rect-blue-download.svg") no-repeat center/contain;
}
@media (min-width: 768px) {
  .download::before {
    bottom: -50px;
    left: -65px;
  }
}
.download::after {
  bottom: -25px;
  right: -32px;
  background: url("../../img/decor-rect-brown-download.svg") no-repeat center/contain;
}
@media (min-width: 768px) {
  .download::after {
    bottom: -50px;
    right: -65px;
  }
}
.download__container {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
}
@media (min-width: 768px) {
  .download__container {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .download__container {
    max-width: 1136px;
    -moz-column-gap: 68px;
         column-gap: 68px;
  }
}
.download__content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .download__content {
    flex: 0 1 auto;
    align-self: center;
  }
}
.download h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.04;
}
.download h2:not(:last-child) {
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .download p {
    max-width: 444px;
  }
}
.download p:not(:last-child) {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .download p:not(:last-child) {
    margin-bottom: 56px;
  }
}
.download__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (min-width: 768px) {
  .download__buttons {
    -moz-column-gap: 28px;
         column-gap: 28px;
  }
}
.download__buttons a {
  max-width: 165px;
  max-height: 52px;
}
.download__buttons a:hover {
  filter: brightness(0.9);
}
.download__buttons a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.download__images {
  max-width: 515px;
  align-self: center;
}
@media (min-width: 768px) {
  .download__images {
    flex: 0 0 40%;
  }
}
@media (min-width: 1200px) {
  .download__images {
    flex: 0 0 auto;
  }
}
.download__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer {
  background-color: rgb(74, 153, 211);
  color: rgb(255, 255, 255);
}
.footer-top {
  padding-top: 55px;
  padding-bottom: 30px;
}
.footer-top__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 30px;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (min-width: 1200px) {
  .footer-top__container {
    flex-wrap: nowrap;
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
}
.footer-top__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 109px;
  height: 35px;
}
.footer-top__lists-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 30px;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (min-width: 768px) {
  .footer-top__lists-container {
    justify-content: center;
    -moz-column-gap: 110px;
         column-gap: 110px;
  }
}
@media (min-width: 1200px) {
  .footer-top__lists-container {
    justify-content: flex-end;
    flex: 1 1 auto;
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
}
.footer-top h2 {
  display: inline-block;
  position: relative;
  padding: 5px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.0555555556;
  white-space: nowrap;
}
.footer-top h2::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
}
.footer-top h2:not(:last-child) {
  margin-bottom: 34px;
}
.footer-top a {
  display: inline-block;
  font-size: 14px;
  line-height: 1.0714285714;
  color: rgb(255, 255, 255);
  margin-bottom: 18px;
}
.footer-top a:hover, .footer-top a:focus {
  text-decoration: underline;
}
.footer-top form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}
@media (min-width: 1200px) {
  .footer-top form {
    max-width: 394px;
  }
}
.footer-top label {
  font-size: 18px;
  line-height: 1.4444444444;
}
.footer-top__form-actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .footer-top__form-actions {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .footer-top__form-actions {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.footer-top input {
  font-size: 14px;
  line-height: 1;
  color: rgb(211, 132, 74);
  border-radius: 3px;
  padding: 18px 10px;
  border: 1px solid rgb(74, 153, 211);
}
.footer-top input::-moz-placeholder {
  color: rgba(15, 0, 26, 0.5);
}
.footer-top input:-ms-input-placeholder {
  color: rgba(15, 0, 26, 0.5);
}
.footer-top input::placeholder {
  color: rgba(15, 0, 26, 0.5);
}
.footer-top input:hover, .footer-top input:focus {
  border-color: rgb(211, 132, 74);
}
@media (min-width: 768px) {
  .footer-top input {
    flex: 1 0 calc(70% - 20px);
  }
}
@media (min-width: 1200px) {
  .footer-top input {
    flex: 1 0 calc(70% - 10px);
  }
}
.footer-top button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.0625;
  color: rgb(74, 153, 211);
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  padding: 16px;
  border-radius: 3px;
  border: 1px solid rgb(74, 153, 211);
}
.footer-top button:hover, .footer-top button:focus {
  border-color: rgb(211, 132, 74);
  color: rgb(211, 132, 74);
}
@media (min-width: 768px) {
  .footer-top button {
    flex: 1 0 calc(30% - 20px);
  }
}
@media (min-width: 1200px) {
  .footer-top button {
    flex: 1 0 calc(30% - 10px);
  }
}
.footer-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid rgb(255, 255, 255);
}
.footer-bottom__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
@media (min-width: 1200px) {
  .footer-bottom__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-bottom p {
  font-weight: 700;
  font-size: 11px;
  line-height: 1;
}
.footer-bottom ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.footer-bottom li {
  width: 23px;
  height: 16px;
}
.footer-bottom a {
  cursor: pointer;
  color: rgb(255, 255, 255);
}
.footer-bottom a:hover, .footer-bottom a:focus {
  color: rgb(211, 132, 74);
}
.footer-bottom svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}/*# sourceMappingURL=style.css.map */