@mixin font($color, $size, $lineheight) {
  color: $color;
  font-size: $size;
  line-height: $lineheight;
}

@mixin bordered($color) {
  border: 1px solid $color;
}

@mixin media-mobile {
  @media (max-width: 767px) {
    @content;
  }
}
