.cards {
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;

  font-size: 16px;
  line-height: calc(26 / 16);
  color: $color-black;

  @media (min-width: $laptop) {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 125px;
    height: 100px;

    @media (min-width: $tablet) {
      width: 255px;
      height: 200px;
    }
  }

  &::before {
    top: 0;
    right: -35px;
    background: url("/img/decor-rect-blue-cards.svg") no-repeat center / contain;
  }

  &::after {
    bottom: 0;
    left: -35px;
    background: url("/img/decor-rect-brown-cards.svg") no-repeat center /
      contain;
  }

  &__container {
    @include d-flex(column);

    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

    @media (min-width: $tablet) {
      max-width: 980px;
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: $laptop) {
      column-gap: 105px;
      row-gap: 113px;
    }
  }

  h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: calc(46 / 36);
    letter-spacing: 0.05em;
    max-width: 397px;

    @media (min-width: $tablet) {
      width: calc(50% - 35px);
      transform: translate(0, -190px);
    }

    @media (min-width: $laptop) {
      width: 100%;
      font-size: 36px;
      transform: translate(-70px, -190px);
    }

    &:not(:last-child) {
      margin-bottom: 15px;

      @media (min-width: $tablet) {
        margin-bottom: 40px;
      }
    }
  }

  &__card {
    @include d-flex(column);

    row-gap: 10px;
    position: relative;
    padding: 15px;
    max-width: 410px;
    min-height: 480px;
    background: $color-white;
    box-shadow: 5px 20px 50px rgba($color-blue, 0.2);
    border-radius: 10px;

    @media (min-width: $tablet) {
      width: calc(50% - 35px);
      min-height: 555px;
      &:not(:first-child):nth-child(odd) {
        // transform: translateY(-50%);
        margin-top: -75%;
      }
    }

    @media (min-width: $laptop) {
      min-height: 555px;
      padding: 48px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 153px;
      height: 153px;
      display: block;
      z-index: -1;
      background: url("/img/decor-square-of-dots.svg") no-repeat center /
        contain;
    }

    &:nth-of-type(1)::before {
      top: -14%;
      right: -21%;
    }

    &:nth-of-type(2)::before {
      top: 50%;
      left: -25%;
      transform: translateY(-50%);
    }

    &:nth-of-type(3)::before {
      bottom: -14%;
      right: -21%;
    }
  }

  &__card-image {
    width: 180px;
    height: 130px;
    align-self: center;

    &:not(:last-child) {
      margin-bottom: 10px;

      @media (min-width: $tablet) {
        margin-bottom: 56px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__card-content {
    flex-grow: 1;
  }

  h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(30 / 20);
    letter-spacing: 0.02em;
    margin-bottom: 15px;
  }

  p {
    opacity: 0.6;
  }

  a {
    @include d-flex(row);

    align-items: center;
    column-gap: 19px;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(30 / 14);
    color: $color-blue;
    letter-spacing: 0.05em;

    @extend %transition;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    span {
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url("/img/cards/arrow.svg") no-repeat center / contain;
    }
  }
}
