.clients {
  $slidesQuantity: 5;
  $slideWidth: calc(100% / $slidesQuantity);

  [name="slides"] {
    display: none;
  }

  padding-top: 90px;
  padding-bottom: 50px;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: $color-black;

  @media (min-width: $laptop) {
    padding-top: 150px;
    padding-bottom: 20px;
  }

  h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: calc(27 / 26);
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &-carousel {
    overflow: hidden;
  }

  &-carousel__track {
    width: calc(100% * $slidesQuantity);
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease;
  }

  &-carousel__slide {
    @include d-flex(column);

    flex-basis: $slideWidth;
    row-gap: 20px;
    padding-top: 50px;
    padding-bottom: 20px;

    @media (min-width: $tablet) {
      width: 20%;
      flex-direction: row;
      column-gap: 6%;
      padding-top: 120px;
      padding-bottom: 50px;
    }
  }

  &-carousel__column-left {
    @include d-flex(column);

    position: relative;
    min-height: 160px;
    background-color: rgba($color-blue, 0.1);

    @media (min-width: $tablet) {
      flex: 0 0 calc(50% - 43px);
      min-height: 400px;
    }
  }

  &-carousel__column-right {
    @include d-flex(column);

    align-self: center;
    position: relative;

    @media (min-width: $tablet) {
      flex: 0 0 calc(50% - 43px);
      align-self: flex-end;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 153px;
      height: 153px;
      display: block;
      z-index: -1;
      background: url("/img/decor-square-of-dots.svg") no-repeat center /
        contain;
    }
  }

  picture {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    max-width: 180px;
    padding: 0 15px;

    @media (min-width: $tablet) {
      right: 14%;
      transform: translateX(0);
      max-width: 430px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-carousel__content {
    @include d-flex(column);

    align-self: center;
    position: relative;
    max-width: 448px;
    padding: 0 15px;

    @media (min-width: $laptop) {
      align-self: stretch;
    }
  }

  i {
    display: block;
    width: 30px;
    height: 30px;
    background: url("/img/clients/quote-icon.svg") no-repeat center / contain;

    @media (min-width: $tablet) {
      width: 50px;
      height: 50px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;

      @media (min-width: $tablet) {
        margin-bottom: 40px;
      }
    }
  }

  p {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(19 / 18);
  }

  &-carousel__arrows-wrapper {
    @include d-flex(row);

    align-self: flex-end;
    position: relative;
    bottom: -10px;

    @media (min-width: $tablet) {
      bottom: -40px;
    }
  }

  label {
    @include d-flex(row);

    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 80px;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 4px;

    @extend %transition;

    svg {
      width: 16px;
      height: 28px;
      fill: $color-blue;
    }

    &:first-child svg {
      transform: rotate(-180deg);
    }

    &:hover {
      background-color: $color-blue;

      svg {
        fill: $color-white;
      }
    }
  }

  #switch-1:checked ~ .clients-carousel__track {
    transform: translateX(0%);
  }
  #switch-2:checked ~ .clients-carousel__track {
    transform: translateX(-$slideWidth);
  }
  #switch-3:checked ~ .clients-carousel__track {
    transform: translateX(-$slideWidth * 2);
  }
  #switch-4:checked ~ .clients-carousel__track {
    transform: translateX(-$slideWidth * 3);
  }
  #switch-5:checked ~ .clients-carousel__track {
    transform: translateX(-$slideWidth * 4);
  }
}
