.download {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;

  font-size: 16px;
  line-height: calc(24 / 16);
  color: $color-black;
  text-align: center;

  @media (min-width: $laptop) {
    padding-top: 98px;
    padding-bottom: 123px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 125px;
    height: 100px;

    @media (min-width: $tablet) {
      width: 255px;
      height: 200px;
    }
  }

  &::before {
    bottom: -25px;
    left: -32px;
    background: url("../../img/decor-rect-blue-download.svg") no-repeat center /
      contain;

    @media (min-width: $tablet) {
      bottom: -50px;
      left: -65px;
    }
  }

  &::after {
    bottom: -25px;
    right: -32px;
    background: url("../../img/decor-rect-brown-download.svg") no-repeat center /
      contain;

    @media (min-width: $tablet) {
      bottom: -50px;
      right: -65px;
    }
  }

  &__container {
    @include d-flex(column-reverse);

    gap: 40px;
    @media (min-width: $tablet) {
      flex-direction: row;
    }

    @media (min-width: $laptop) {
      max-width: 1136px;
      column-gap: 68px;
    }
  }

  &__content {
    @include d-flex(column);

    @media (min-width: $tablet) {
      flex: 0 1 auto;
      align-self: center;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: calc(26 / 25);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  p {
    @media (min-width: $laptop) {
      max-width: 444px;
    }

    &:not(:last-child) {
      margin-bottom: 25px;

      @media (min-width: $tablet) {
        margin-bottom: 56px;
      }
    }
  }

  &__buttons {
    @include d-flex(row);

    justify-content: center;
    column-gap: 10px;

    @media (min-width: $tablet) {
      column-gap: 28px;
    }

    a {
      max-width: 165px;
      max-height: 52px;

      @extend %transition;

      &:hover {
        @extend %box-shadow;

        filter: brightness(0.9);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &__images {
    max-width: 515px;
    align-self: center;

    @media (min-width: $tablet) {
      flex: 0 0 40%;
    }

    @media (min-width: $laptop) {
      flex: 0 0 auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
