.footer {
  background-color: $color-blue;
}

.footer__top {
  padding-top: 50px;
  padding-bottom: 30px;
}

.top-footer {
}

.top-footer__container {
  @include d-flex(row);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 30px;
  column-gap: 60px;
}

.top-footer__logo {
  cursor: pointer;
  width: 109px;
  height: 35px;

  @include d-flex(row);
  justify-content: center;
  align-items: center;
}

.top-footer__lists-container {
  @include d-flex(row);
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 60px;
}

.top-footer__list-wrapper {
}

.top-footer__list-title {
  display: inline-block;
  position: relative;
  padding: 5px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(19 / 18);
  color: $color-white;
  white-space: nowrap;

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $color-white;
  }
}

.top-footer__list-title:not(:last-child) {
  margin-bottom: 34px;
}

.top-footer__list {
}
.top-footer__list-item {
}
.top-footer__list-item:not(:last-child) {
  margin-bottom: 18px;
}

.top-footer__list-link {
  font-size: 14px;
  line-height: calc(15 / 14);
  color: $color-white;

  @extend %transition;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.top-footer__form {
  @include d-flex(column);
  row-gap: 20px;
  width: 100%;
}

.top-footer__form-label {
  font-size: 18px;
  line-height: calc(26 / 18);
  color: $color-white;
}

.top-footer__form-actions {
  @include d-flex(column);
  gap: 20px;
}

.top-footer__form-email {
  font-size: 14px;
  line-height: calc(14 / 14);
  color: $color-orange;
  border-radius: 3px;
  padding: 18px 10px;
  border: 1px solid $color-blue;

  @extend %transition;

  &::placeholder {
    color: rgba($color-black, 0.5);
  }

  &:hover,
  &:focus {
    @extend %box-shadow;
    border-color: $color-orange;
  }
}

.top-footer__form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(17 / 16);
  color: $color-blue;

  cursor: pointer;
  background-color: $color-white;
  padding: 16px;
  border-radius: 3px;
  border: 1px solid $color-blue;

  @extend %transition;

  &:hover,
  &:focus {
    @extend %box-shadow;
    border-color: $color-orange;
    color: $color-orange;
  }
}

.footer__bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottom-footer {
  border-top: 1px solid $color-white;
}

.bottom-footer__container {
  @include d-flex(row);
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.footer__copyright {
  font-weight: 700;
  font-size: 11px;
  line-height: calc(11 / 11);
  color: $color-white;
}

.footer__social-links-items {
  @include d-flex(row);
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.footer__social-links-item {
  width: 23px;
  height: 16px;
}

.footer__social-links-link {
  cursor: pointer;
  color: $color-white;

  &:hover,
  &:focus {
    color: $color-orange;
  }
}

.footer__social-links-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

@media ($tablet) {
  .top-footer__lists-container {
    justify-content: center;
    column-gap: 110px;
  }

  .top-footer__form-actions {
    flex-direction: row;
  }

  .top-footer__form-email {
    flex: 1 0 calc(70% - 20px);
  }

  .top-footer__form-btn {
    flex: 1 0 calc(30% - 20px);
  }
}

@media ($laptop) {
  .top-footer {
    padding-top: 55px;
    padding-bottom: 30px;
  }

  .top-footer__container {
    max-width: 1220px;
    flex-wrap: nowrap;
    column-gap: 80px;
  }

  .top-footer__lists-container {
    justify-content: flex-end;
    flex: 1 1 auto;
    column-gap: 60px;
  }

  .top-footer__form {
    max-width: 394px;
  }

  .top-footer__form-actions {
    column-gap: 10px;
  }

  .top-footer__form-email {
    flex: 1 0 calc(70% - 10px);
  }

  .top-footer__form-btn {
    flex: 1 0 calc(30% - 10px);
  }

  .bottom-footer__container {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1220px;
  }
}
