.how {
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgba($color-blue, 0.1);

  font-size: 16px;
  line-height: calc(26 / 16);
  color: $color-black;
  text-align: center;

  @media ($laptop) {
    padding-top: 95px;
    padding-bottom: 95px;
  }

  &__container {
    @include d-flex(column);

    row-gap: 25px;

    @media ($tablet) {
      row-gap: 30px;
    }

    @media ($laptop) {
      max-width: 980px;
      row-gap: 88px;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: clac(27/26);
    color: $color-blue;
  }

  &__items {
    @include d-flex(row);

    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    column-gap: 20px;

    @media ($tablet) {
      row-gap: 50px;
      column-gap: 15px;
    }

    @media ($laptop) {
      column-gap: 106px;
    }
  }

  &__item {
    @include d-flex(column);

    align-items: center;

    @media ($tablet) {
      flex: 0 0 calc(50% - 15px);
    }

    @media ($laptop) {
      flex: 0 0 calc((100% / 3) - 212px);
    }
  }

  &__image {
    width: 60px;
    height: 60px;
    display: inline-block;
    stroke-width: 0;
    fill: $color-orange;

    @extend %transition;

    &:hover {
      fill: $color-blue;
    }

    &:not(:last-child) {
      margin-bottom: 15px;

      @media ($tablet) {
        margin-bottom: 30px;
      }
    }
  }

  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(19 / 18);

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  p {
    @media ($laptop) {
      min-width: 246px;
    }
  }
}
