body {
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100px;
  background-color: blue;
  color: white;
}
.main-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.navigation {
  display: flex;
  flex: 1 1 25%;

  padding: 20px;
  background-color: orange;
}
.main {
  display: flex;
  flex: 1 1 50%;

  padding: 20px;
  background-color: azure;
}
.related-links {
  display: flex;
  flex: 1 1 25%;

  padding: 20px;
  background-color: purple;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100px;
  background-color: green;
  color: white;
}

@media (max-width: 800px) {
  .main-wrapper {
    flex-direction: column;
  }
  .navigation {
    flex: 0 0 auto;
  }
  .related-links {
    flex: 0 0 auto;
  }
}
