$color-primary: #54bc95;
$color-secondary: #6c6c6c;
$color-border: #cdcdcd;

%font-family {
  font-family: "Roboto", Verdana, sans-serif;
}
@mixin font($color, $size, $lineheight) {
  color: $color;
  font-size: $size;
  line-height: $lineheight;
}
@mixin bordered($color) {
  border: 1px solid $color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  background: linear-gradient(
    to right,
    #547f91 0%,
    #3d6375 50%,
    #3d6375 50%,
    #547f91 100%
  );
}
.container {
  max-width: 768px;
  padding: 30px;
  margin: 0 auto;
}
.create {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  @include bordered($color-border);
}

.header {
  text-align: center;
  background-color: #eff0f1;
  padding: 20px;

  @extend %font-family;
  @include font($color-secondary, 2.8rem, 3rem);
  @include bordered($color-border);
}
.body {
  background-color: #ffffff;
  padding: 25px 60px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.column-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 49%; // need 50%?
  margin-bottom: 15px;
}
.input-title {
  font-weight: bold;

  @extend %font-family;
  @include font($color-primary, 1.6rem, 2.2rem);
}
.input-field {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;

  @extend %font-family;
  @include font($color-secondary, 1.6rem, 2.2rem);
  @include bordered($color-border);

  &::placeholder {
    color: #dadbdb;
  }
}
.group-items {
  justify-content: flex-start;
}
.item {
  margin: 0 5px;
  cursor: pointer;
}
.label {
  cursor: pointer;

  @extend %font-family;
  @include font($color-secondary, 1.6rem, 2.2rem);
}

.select {
  padding: 0 10px;
  height: 3.6rem;
  cursor: pointer;
  border-radius: 5px;

  @include bordered($color-border);
  @extend %font-family;
  @include font($color-secondary, 1.6rem, 2.2rem);
}

.range-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-range {
  cursor: pointer;
  width: 85%; // need width: 100%?
  accent-color: $color-primary;
}
.input-range-counter {
  padding: 10px 5px;
  background-color: $color-primary;
  border-radius: 5px;

  @extend %font-family;
  @include font(#ffffff, 1.6rem, 2.2rem);
}
.input-file {
  width: 100%;
  cursor: pointer;
  border: none;
  padding: 2px 10px;

  @extend %font-family;
  @include font($color-secondary, 1.6rem, 2.2rem);
}
.input-number {
  padding: 5px 10px;
  border-radius: 5px;

  @extend %font-family;
  @include font($color-secondary, 1.6rem, 2.2rem);
  @include bordered($color-border);
}
.textarea {
  padding: 5px 10px;
  resize: vertical;
  border-radius: 5px;

  @extend %font-family;
  @include font($color-secondary, 1.6rem, 2.2rem);
  @include bordered($color-border);

  &::placeholder {
    color: #dadbdb;
  }
}

.footer {
  padding: 15px 60px 0;
  background-color: #eff0f1;

  @include bordered($color-border);
}
.flex-end {
  align-items: flex-end;
}
.footer-btn {
  padding: 10px 20px;
  cursor: pointer;
  background-color: $color-primary;
  border: none;
  border-radius: 5px;

  @extend %font-family;
  @include font(#a3eedc, 1.8rem, 2.4rem);
}
@media (max-width: 767px) {
  .container {
    min-width: 320px;
  }

  .body {
    padding: 15px 20px;
  }
  .footer {
    padding: 15px 20px 0;
  }
  .row {
    flex-direction: column;
  }
  .row-range {
    display: flex;
    flex-direction: row;
  }
  .input-range {
    width: 100%;
  }
}
