$color-grey: #dadbdb;
$color-grey-dark: #6c6c6c;
$color-grey-light: #eff0f1;
$color-grey-silver: #cdcdcd;
$color-green: #54bc95;
$color-white: #ffffff;

%font-family {
  font-family: "Roboto", Verdana, sans-serif;
}
@mixin font($color, $size, $lineheight) {
  color: $color;
  font-size: $size;
  line-height: $lineheight;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  background: linear-gradient(
    to right,
    #547f91 0%,
    #3d6375 50%,
    #3d6375 50%,
    #547f91 100%
  );
}
.container {
  max-width: 768px;
  padding: 30px;
  margin: 0 auto;
}
.create {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  border: 1px solid $color-grey-silver;
  border-radius: 20px;
}

.header {
  text-align: center;
  background-color: $color-grey-light;
  border-bottom: 1px solid $color-grey-silver;
  padding: 20px;

  @extend %font-family;
  @include font($color-grey-dark, 2.8rem, 3rem);
}
.body {
  background-color: $color-white;
  padding: 25px 60px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.column-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 49%;
  margin-bottom: 15px;
}
.input-title {
  font-weight: bold;

  @extend %font-family;
  @include font($color-green, 1.6rem, 2.2rem);
}
.input-field {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid $color-grey-silver;
  border-radius: 5px;

  @extend %font-family;
  @include font($color-grey-dark, 1.6rem, 2.2rem);
  &::placeholder {
    color: $color-grey;
  }
}
.group-items {
  justify-content: flex-start;
}
.item {
  margin: 0 5px;
  cursor: pointer;
}
.label {
  cursor: pointer;

  @extend %font-family;
  @include font($color-grey-dark, 1.6rem, 2.2rem);
}

.select {
  height: 3.6rem;
  cursor: pointer;
  padding: 0 10px;
  border: 1px solid $color-grey-silver;
  border-radius: 5px;

  @extend %font-family;
  @include font($color-grey-dark, 1.6rem, 2.2rem);
}

.input-range {
  cursor: pointer;
  width: 100%;
  accent-color: $color-green;
}
.input-range-counter {
  padding: 10px 5px;
  background-color: $color-green;
  border-radius: 5px;

  @extend %font-family;
  @include font($color-grey-dark, 1.6rem, 2.2rem);
}
.input-file {
  width: 100%;
  cursor: pointer;
  border: none;
  padding: 2px 10px;

  @extend %font-family;
  @include font($color-grey-dark, 1.6rem, 2.2rem);
}
.input-number {
  border: 1px solid $color-grey-silver;
  border-radius: 5px;
  padding: 5px 10px;

  @extend %font-family;
  @include font($color-grey-dark, 1.6rem, 2.2rem);
}
.textarea {
  resize: vertical;
  border: 1px solid $color-grey-silver;
  border-radius: 5px;
  padding: 5px 10px;

  @extend %font-family;
  @include font($color-grey-dark, 1.6rem, 2.2rem);

  &::placeholder {
    color: $color-grey;
  }
}

.footer {
  background-color: $color-grey-light;
  border-top: 1px solid $color-grey-silver;
  padding: 15px 60px 0;
}
.flex-end {
  align-items: flex-end;
}
.footer__btn {
  cursor: pointer;
  background-color: $color-green;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;

  @extend %font-family;
  @include font($color-white, 1.8rem, 2.4rem);
}
@media (max-width: 767px) {
  .container {
    min-width: 320px;
  }
  .body {
    padding: 15px 20px;
  }
  .footer {
    padding: 15px 20px 0;
  }
  .row {
    flex-direction: column;
  }
}
