$color-white: rgb(255, 255, 255);
$color-black: rgb(15, 0, 26);
$color-blue: rgb(74, 153, 211);
$color-orange: rgb(211, 132, 74);

$mobile-lg: "min-width: 425px";
$tablet: "min-width: 768px";
$laptop: "min-width: 1200px";
