@import "fonts.scss";

body {
  font-family: "Objective", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

[class*="__container"] {
  max-width: 1220px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  flex: 1 1 auto;
}

.decor-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.decor__item {
  position: absolute;
  width: 125px;
  height: 100px;
}

.decor__item--download-1 {
  bottom: -25px;
  left: -32px;
  background: url("../../img/decor-rect-blue-download.svg") no-repeat center /
    contain;
}

.decor__item--download-2 {
  bottom: -25px;
  right: -32px;
  background: url("../../img/decor-rect-brown-download.svg") no-repeat center /
    contain;
}

.decor__item--what-1 {
  top: 0;
  right: -35px;
  background: url("/img/decor-rect-blue-what.svg") no-repeat center / contain;
}

.decor__item--what-2 {
  bottom: 0;
  left: -35px;
  background: url("/img/decor-rect-brown-what.svg") no-repeat center / contain;
}

@media ($tablet) {
  .decor__item {
    width: 255px;
    height: 200px;
  }

  .decor__item--download-1 {
    bottom: -50px;
    left: -65px;
  }

  .decor__item--download-2 {
    bottom: -50px;
    right: -65px;
  }
}
